
@media (min-width: 768px){ //>=768 equipment }
@media (min-width: 992px){ //>=992 equipment }
@media (min-width: 1200px){ //>=1200 equipment }


canvas{
	   display:block;
	   width:100%;
       height:100%;
       top:0;
      left:0;
      position:fixed;
      z-index: -2;

 }
canvas.flare{
	  opacity:0.5;
	 
}
